* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.logo {
    text-align: start;
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style-type: none;
}

.menu ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
}

.menu li {
    margin-top: 15px;
}

.container .main-middle-container {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
  background-color: #C50208;
  display: grid;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  display: grid;
  align-items: center;
}


.sidebar .side-content {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: normal;
    margin-top: 25px;
    display: grid;
    align-items: center;
}

.container .middle-container {
    padding: 0;
}

.nav {
    background-color: #C50208;
}

.nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}