body,
html {
    margin: 0;
    height: 100%;
}

.container {
    display: grid;
    gap: 1%;
    grid-template-columns: 24% 74%;
    grid-template-rows: 9% 9% 69% 9%;
    text-align: center;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
    border-radius: 15px;
}

.header {
    background-color: #006157;
    grid-column: 1/span 2;
    grid-row: 1;
}

.sidebar {
    background-color: #005B94;
    grid-column: 1;
    grid-row: 2/span 2;
}

.nav {
    background-color: #642cde;
    grid-column: 2;
    grid-row: 2;
}

.article {
    background-color: #7E1DC3;
    grid-column: 2;
    grid-row: 3;
}

.article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
}

.footer {
    background-color: #393f4d;
    grid-column: 1/span 2;
    grid-row: 4;
}